<div class="searchbar" (mousedown)="open ? null : toggle()" [class.open]="open"
    [class.has-suggestions]="suggestions.length > 0">
    <input type="text" name="search-input" id="search-input" class="search-input" placeholder="Search..."
        (blur)="open ? toggle() : null" (focus)="open ? null : toggle()" (ngModelChange)="searchKeydown()"
        [(ngModel)]="searchValue">

    <fa-icon [icon]="icon" class="search-icon"></fa-icon>

    <div class="suggestions">
        <div class="suggestions-inner">
            <label for="search-input" class="suggestion" *ngFor="let s of suggestions;">{{ s }}</label>
        </div>
    </div>
</div>