<nav class="navbar">
    <ul class="navbar-links">
        <li *ngFor="let route of this.routes" class="navbar-link" [class.active]="activeRoute == route.path">
            <a [routerLink]="[route.path]" tabindex="0">{{ route.title }}</a>
        </li>
    </ul>
    <div class="spacer"></div>
    <app-searchbar></app-searchbar>
    <div class="profile" (click)="toggleDropdown($event)" [class.clicked]="open">
        <fa-icon [icon]="faUser" />
    </div>
    <div class="dropdown" [class.open]="open" (window:click)="open ? toggleDropdown($event) : null">
        <button routerLink="/profile" *ngIf="isLoggedIn()">Profile</button>
        <button routerLink="/settings" *ngIf="isLoggedIn()">Account Settings</button>
        <button (click)="logout()" *ngIf="isLoggedIn()">Logout</button>
        <a [routerLink]="['/login']" *ngIf="!isLoggedIn()">Login</a>
        <a [routerLink]="['/register']" *ngIf="!isLoggedIn()">Register</a>
    </div>
    <a [routerLink]="['/']" class="logo" tabindex="-1"></a>
</nav>