<nav class="navbar">
    <ul class="navbar-links">
        <li
            *ngFor="let route of this.routes"
            class="navbar-link"
            [class.active]="activeRoute == route.path"
        >
            <a [routerLink]="[route.path]" tabindex="0">{{ route.title }}</a>
        </li>
    </ul>
    <div class="spacer"></div>
    <div class="profile" (click)="toggleDropdown()" [class.clicked]="open">
        <fa-icon [icon]="faUser" />
    </div>
    <div class="dropdown" [class.open]="open">
        <h1 routerLink="/Profile" (click)="toggleDropdown()">Profile</h1>
        <h1 routerLink="/Settings" (click)="toggleDropdown()">Account Settings</h1>
        <h1 (click)="toggleDropdown()">Option 3</h1>
    </div>
    <a [routerLink]="['/']" class="logo" tabindex="-1"></a>
</nav>
