<form class="flex-container" [formGroup]="loginForm" (submit)="submit()">
    <div class="header">Login</div>
    <label for="username">WatcherTag:
    </label>
    <input type="text" name="username" formControlName="username" placeholder="FbiAgent" required
        [class.error]="username?.invalid && (username?.dirty || username?.touched)" id="username" />
    <div class="error-message">
        <div *ngIf="username?.errors?.['required']">This field is required.</div>
    </div>
    <label for="password">Password:</label>
    <input type="password" name="password" formControlName="password" placeholder="ImWatchingYou123#" required
        [class.error]="password?.invalid && (password?.dirty || password?.touched)" id="password" />
    <div class="error-message">
        <div *ngIf="password?.errors?.['required']">This field is required.</div>
    </div>
    <div class="buttons">
        <a [routerLink]="['/register']" class="alt-page-link">Register</a>
        <input type="submit" value="Login">
    </div>
</form>