<header *ngIf="movie" [ngStyle]="{'--bg-image': 'url(https://image.tmdb.org/t/p/w500' + movie.posterPath + ')'}">
    <div class="header-inner">
        <div class="left">
            <img [src]="'https://image.tmdb.org/t/p/w500' + movie.posterPath" alt="poster" class="poster">
        </div>
        <div class="right">
            <h1 class="movie-title">{{movie.title}}</h1>
            <div class="rating" [ngStyle]="{'--rating': movie.voteAverage.toFixed(3)}">
                <a class="rating-score" [routerLink]="['/movie/' + id + '/reviews']">{{(movie.voteAverage * 0.5).toFixed(1)}}/5</a>
                <div class="stars" (click)="giveRating()">
                    <fa-icon [icon]="faStar" (mousemove)="onHoverStar(1)" [class.active]="lastHovered >= 1"></fa-icon>
                    <fa-icon [icon]="faStar" (mousemove)="onHoverStar(2)" [class.active]="lastHovered >= 2"></fa-icon>
                    <fa-icon [icon]="faStar" (mousemove)="onHoverStar(3)" [class.active]="lastHovered >= 3"></fa-icon>
                    <fa-icon [icon]="faStar" (mousemove)="onHoverStar(4)" [class.active]="lastHovered >= 4"></fa-icon>
                    <fa-icon [icon]="faStar" (mousemove)="onHoverStar(5)" [class.active]="lastHovered >= 5"></fa-icon>
                </div>
            </div>
            <hr>
            <h3 class="movie-tagline">{{movie.tagline}}</h3>

            <div class="spacer"></div>

            <div class="keywords">
                <div class="keyword" *ngFor="let keyword of movie.keywords;">{{ keyword }}</div>
            </div>
        </div>
    </div>
</header>

<div class="content-wrapper">
    <main *ngIf="movie">
        <p class="movie-description">{{movie.overview}}</p>

        <div class="collection" *ngIf="movie.belongsToCollection"  [ngStyle]="{'--bg-image': 'url(https://image.tmdb.org/t/p/w500' + (movie.belongsToCollection.backdropPath ?? movie.belongsToCollection.posterPath) + ')'}">
            <h1 class="collection-title">Part of {{ getCollectionName(movie.belongsToCollection.name) }}</h1>
            <a [routerLink]="['/collection/' + movie.belongsToCollection.id]" class="view-collection-button">View Collection</a>
        </div>
    </main>
</div>