<header *ngIf="movie" [ngStyle]="{'--bg-image': 'url(' + backdropPath + ')'}">
    <div class="header-inner">
        <div class="left">
            <img [src]="posterPath" alt="poster" class="poster">
        </div>
        <div class="right">
            <h1 class="movie-title">{{movie.title}}</h1>
            <div class="rating" [ngStyle]="{'--rating': movie.voteAverage.toFixed(3)}">
                <a class="rating-score" [routerLink]="['/movie/' + id + '/reviews']">{{(movie.voteAverage *
                    0.5).toFixed(1)}}/5</a>
                <div class="stars" (click)="giveRating()" [class.active]="popupOpen">
                    <fa-icon [icon]="faStar" (mousemove)="onHoverStar(1)" [class.active]="activeStar >= 1"></fa-icon>
                    <fa-icon [icon]="faStar" (mousemove)="onHoverStar(2)" [class.active]="activeStar >= 2"></fa-icon>
                    <fa-icon [icon]="faStar" (mousemove)="onHoverStar(3)" [class.active]="activeStar >= 3"></fa-icon>
                    <fa-icon [icon]="faStar" (mousemove)="onHoverStar(4)" [class.active]="activeStar >= 4"></fa-icon>
                    <fa-icon [icon]="faStar" (mousemove)="onHoverStar(5)" [class.active]="activeStar >= 5"></fa-icon>
                </div>
                -
                <a class="rating-count" [routerLink]="['/movie/' + id + '/reviews']">{{ movie.voteCount }} reviews</a>
                <div class="rating-popup" *ngIf="popupOpen">
                    <h3 class="rating-popup-title">Want to leave a review?</h3>
                    <textarea name="rating-message" id="rating-message" cols="30" rows="3"
                        [(ngModel)]="ratingMessage"></textarea>
                    <div class="buttons">
                        <button class="secondary" (click)="popupOpen = false">Cancel</button>
                        <button class="primary" (click)="submitRating()">Submit</button>
                    </div>
                </div>
            </div>
            <hr>
            <h3 class="movie-tagline">{{movie.tagline}}</h3>

            <div class="spacer"></div>

            <div class="keywords">
                <div class="keyword" *ngFor="let keyword of movie.keywords;">{{ keyword }}</div>
            </div>
        </div>
    </div>
</header>

<div class="content-wrapper">
    <main *ngIf="movie">
        <div class="details">
            <section>
                <h3 class="section-title">Overview</h3>
                <div class="section-content">
                    {{movie.overview}}
                </div>
            </section>

            <app-movie-collection-banner [collection]="movie.belongsToCollection"
                *ngIf="movie.belongsToCollection"></app-movie-collection-banner>
        </div>
        <div class="sidebar">
            <div *ngIf="movie.cast">Cast:</div>
            <div *ngIf="movie.cast">
                <div *ngFor="let cast of movie.cast">Actor: {{cast.name}} playing as {{cast.character}}</div>
            </div>

            <div *ngIf="movie.genres">Genres:</div>
            <div *ngIf="movie.genres" class="list">
                <div *ngFor="let genre of movie.genres" class="genre">
                    {{ genreNames[genre] }}
                </div>
            </div>

            <div *ngIf="movie.productionCountries">Produced in:</div>
            <div *ngIf="movie.productionCountries" class="list">
                <div *ngFor="let country of movie.productionCountries">
                    {{ regionName.of(country!) }}
                </div>
            </div>

            <div *ngIf="movie.spokenLanguages">Language{{
                movie.spokenLanguages.length == 1 ? '' : 's' }}:</div>
            <div *ngIf="movie.spokenLanguages" class="list">
                <div *ngFor="let language of movie.spokenLanguages">
                    {{ languageName.of(language) }}
                </div>
            </div>

            <div *ngIf="movie.productionCompanies">Produced by:</div>
            <div *ngIf="movie.productionCompanies" class="list">
                <div *ngFor="let company of movie.productionCompanies">
                    {{ company.name }}
                </div>
            </div>

            <div *ngIf="movie.releaseDate">Release date:</div>
            <div *ngIf="movie.releaseDate">{{ movie.releaseDate.toLocaleDateString() }}</div>

            <div>Budget:</div>
            <div>{{ currency.format(movie.budget) }}</div>

            <div>Revenue:</div>
            <div>{{ currency.format(movie.revenue) }}</div>

            <div *ngIf="movie.originalTitle && movie.originalTitle != movie.title">Also known as:</div>
            <div *ngIf="movie.originalTitle && movie.originalTitle != movie.title">{{movie.originalTitle}}</div>
        </div>
    </main>
</div>