<div class="grid-container">
    <div class="item trending-genres">
        <h3 style="font-size: small;" class="item-title">Trending genres</h3>
        <canvas id="trending-genres" class="pie-chart" *ngIf="trendingGenresData" baseChart [data]="trendingGenresData" [options]="trendingGenresChartOptions" [type]="'pie'"></canvas>
    </div>
    <div class="item user-info"></div>
    <div class="item highest-rating-film">
        <h3 style="font-size: small;" class="item-title">Highest Rating Movies</h3>
        <div class="highest-rating-film-list">
            <app-movie-card *ngFor="let movie of movies.get('trending')!" [movie]="movie"></app-movie-card>
        </div>
    </div>
</div>
