<form class="flex-container" [formGroup]="registerForm" (submit)="submit()">
    <div class="header">Register</div>

    <label for="username">Watcher Tag:</label>
    <input type="text" name="username" formControlName="username" placeholder="FbiAgent" required
        [class.error]="errors.username || username?.invalid && (username?.dirty || username?.touched)" id="username" />

    <div class="error-message">
        <div *ngIf="username?.errors?.['required']">This field is required.</div>
        <div *ngIf="errors?.username"><div *ngFor="let error of errors.username">{{error}}</div></div>
    </div>

    <label for="email">E-mail address:</label>
    <input type="text" name="email" formControlName="email" placeholder="agent10284@fbi.gov" required
        [class.error]="errors.email || email?.invalid && (email?.dirty || email?.touched)" id="email" />
    <div class="error-message">
        <div *ngIf="email?.errors?.['required']">
            This field is required.
        </div>
        <div *ngIf="email?.errors?.['email']">
            This is not a valid email address.
        </div>
        <div *ngIf="errors?.email"><div *ngFor="let error of errors.email">{{error}}</div></div>
    </div>

    <label for="password" name="password">Password:</label>
    <input type="password" name="password" formControlName="password" placeholder="ImWatchingYou123#" required
        [class.error]="errors.password || password?.invalid && (password?.dirty || password?.touched)" id="password" />
    <div class="error-message">
        <div *ngIf="password?.errors?.['required']">
            This field is required.
        </div>
        <div *ngIf="errors?.password"><div *ngFor="let error of errors.password">{{error}}</div></div>
    </div>

    <div class="buttons">
        <a [routerLink]="['/login']" class="alt-page-link">Login</a>
        <input type="submit" value="Register" />
    </div>
</form>